*{
  margin: 0;
  padding: 0;
}
img{
    width: 200px;
    height: 200px;
}

.title1{
    padding-bottom: 16px;
}

.bai1{
    background-color: yellow;
    max-width: 1050px;
    min-height: 525px;
}
